<!-- Nav Bar -->

<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="#" class="button">Link 1</a></li>
                <li><a href="#" class="button">Link 2</a></li>
                <li><a href="#" class="button">Link 3</a></li>
                <li><a href="#" class="button">Link 4</a></li>
            </ul>
        </div>
        <h1>Blog <small>This is my blog. It's awesome.</small></h1>
        <hr />
    </div>
</div>

<!-- End Nav -->