<div class="row">
    <div class="large-6 small-12 large-centered columns text-center">
        <h5>Login Form</h5>
        <form>
            <div class="row">
                <div class="large-12">
                    <input type="email" id="email" placeholder="Email" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <input type="password" id="password" placeholder="Password" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <button type="button" class="button">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>