<div class="row">
    <div class="large-6 small-12 large-centered columns text-center">
        <h5>Sign Up Form</h5>
        <form>
            <div class="row">
                <div class="large-12">
                    <input type="text" id="name" placeholder="Name" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <input type="text" id="email" placeholder="Email" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <input type="password" id="password" placeholder="Password" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <input type="password" id="cpassword" placeholder="Confirm password" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <button type="button" class="button">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>