<!-- Nav Bar -->

<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="#" class="button">Link 1</a></li>
                <li><a href="signup" class="button">Sign Up</a></li>
                <li><a href="#" class="button">Link 3</a></li>
                <li><a href="#" class="button">Link 4</a></li>
            </ul>
        </div>
        <h1>Hapi Mode<small> - Sample ToDo App</small></h1>
        <hr />
    </div>
</div>

<!-- End Nav -->