<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hapi Mode</title>
    <link rel="stylesheet" href="../assets/css/foundation.css" />
    <style>
        #hapimode { text-shadow: 0px 1px 1px #4d4d4d; color: #222; font: 45px 'LeagueGothicRegular'; }
    </style>
    <script src="libs/modernizr/modernizr.js"></script>
  </head>
  <body data-ng-app="hapi-mode">

  <!-- Nav Bar -->
  <!-- Nav Bar -->

<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="/main" class="button">Home</a></li>
                <li><a href="/signup" class="button">Sign Up</a></li>
                <li><a href="/login" class="button">Login</a></li>
            </ul>
        </div>
        <h1>Hapi Mode<small> - Sample ToDo App</small></h1>
        <hr />
    </div>
</div>

<!-- End Nav -->

  <div class="row" data-ng-view></div>

  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
        <hr />
        <p>&copy; Copyright no one at all. Go to town.</p>
    </div>
</footer>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-route/angular-route.js"></script>
  <script src="libs/angular-cookies/angular-cookies.js"></script>
  <script src="libs/angular-foundation/mm-foundation-tpls.js"></script>
  <script src="app.js"></script>
  <script src="../components/main/main-controller.js"></script>
  <script src="../components/signup/signup-controller.js"></script>
  <script src="../components/signup/signup-service.js"></script>
  <script src="../components/login/login-controller.js"></script>
  <script src="../components/login/login-service.js"></script>
  <script src="../components/dashboard/dashboard-controller.js"></script>
  <script src="routes.js"></script>
  <script>
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
  </script>
  </body>
</html>
